@CHARSET "UTF-8";

.field-formula {
    direction: ltr;
}
.form-row {
    direction: rtl;
}
.formula-btn {
    width: 30px;
    height: 30px;
    padding: 0px !important;
    margin: 0px !important;
    text-align: center;
    background-color: rgb(220,220,220) !important;
    color: rgb(20,20,20) !important;
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 120%;
    direction: ltr;
    border: 0px solid #000 !important;
}
.formula-btn:hover {
    background-color: rgb(200,200,200) !important;
}

/* admin overrides */

.submit-row input, .submit-row input.default {
    float: right !important;
    margin-left: 5px !important;
}

.submit-row p.deletelink-box {
    float: left !important;
}

.related-widget-wrapper {
    float: right !important;
}

#id_comment {
    height: 5em;
}

#id_grade {
    width: 4em;
}
