@CHARSET "UTF-8";

body {
    /*background-color: #d2e8f0;*/
    background-color: #F8F8F8;
    padding-top: 65px; 
    direction: rtl;
    font-family: 'Alef', sans-serif;
    font-size: large;
}

.progress {
    height: 18px !important;
}

.myhl {
    background-color: #ecf5f4;
}

.mainf {
    background-color: #ddedf1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
