{% extends "logic/basic_base.html" %}

{% block body_content %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top noselect">
      <div class="container">
        <div class="navbar-header pull-right">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Logo
          <a class="navbar-brand" href="/">מבוא ללוגיקה</a>
          <a href="/"><img class="" style="padding: 15px;" src="/static/logic/images/favicon-32x32.png" id="logo"/></a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#contact"><span class="glyphicon glyphicon-user"></span> {% firstof user.get_full_name user.get_username %}</a></li>
            <li><a href="{% url 'logic:index'%}"><span class="glyphicon glyphicon-th-list"></span> פרקים</a></li>
          </ul>
          <ul class="nav navbar-nav pull-left">
            <li><a href="{% url 'logout'%}"><span class="glyphicon glyphicon-off"></span> יציאה</a></li>
          </ul>
        </div>
      </div>
    </nav>

{% block content %}
{% endblock content %} 

{% endblock body_content %}
