{% extends "logic/chapter_base.html" %}

{% block topic_header %}סיכום{% endblock %}

{% block chapter_content %}
  {% if answer_data %}
    <div class="panel panel-default">
      <div class="panel-body table-responsive">
        <p>
          ענית נכון על {{ num_correct }} מתוך {{ answer_data|length }} שאלות ({{pct}}%).
        </p>
    {% if num_correct < answer_data|length and remaining > 0 %}
        <p><a href='{% url 'logic:question' chapter.number chapter.first_question.number %}'>ניתן לנסות שוב (נסיונות נותרים: {{remaining}})</a></p>
    {% endif %}
        <table class="table table-condensed">
          {% for qnum, followup, correct in answer_data %}
          <tr>
            <td>שאלה {{qnum}}{% if followup %}: המשך{% endif %}</td>
            <td>{% if correct %}נכון{% else %}לא נכון{% endif %}</td>
          <tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% else %}
    <p class="pull-right" style="font-size: 110%; margin-top: 20px; margin-bottom: 10px;">איך הגעת לכאן? לא סיימת לענות על כל השאלות!</p>
    <img src='/static/logic/images/russell.jpg' style="height: auto; width: 100%;" title="Russell is not impressed." dir="ltr">
    <script>
      $(document).ready(function(){
          $('#topic').hide();
      });
    </script>
  {% endif %}
{% endblock chapter_content %}
