{% extends "logic/base.html" %}

{% block title %}פרק {{ chapter.number }}: {{ chapter.title }}{% endblock %}

{% block content %}
{% if question_list %}
    <div class="container">
    <div class="list-group">
    {% for question in question_list %}
        <a class="list-group-item text-center" href="#">
        <span class="pull-right"><h4 class="text-muted">{{ question.number }}</h4></span>
        <h4>{{ question }}</h4>
        </a>
    {% endfor %}
    </div>
    </div>
{% else %}
    <p>No chapters are available.</p>
{% endif %}
{% endblock content %} 
