{% extends "logic/chapter_base.html" %}
{% load index %}
{% load staticfiles %}

{% block topic_header %}סטטיסטיקה{% endblock %}

{% block chapter_content %}

{% if request.user.is_staff %}
<link href="{% static 'logic/morris/morris.css'%}" rel="stylesheet">
<script src="{% static 'logic/morris/raphael-min.js'%}"></script>
<script src="{% static 'logic/morris/morris.min.js'%}"></script>

    <div class="panel panel-default">
      <div class="panel-body">

{% if num_sub > 0 %}
        <h3>כללי</h3>
        <p>
          מספר הגשות: {{num_sub}}<br>
          ממוצע נסיונות להגשה: {{avg_attempts|floatformat:-1}}<br>
          ציון ממוצע: {{avg_grade|floatformat:-1}}<br>
        </p>
        התפלגות ציונים:<br>
        <div id="grades-chart" class="bar-graph"></div>
        <h3>שאלות</h3>
        {% for qnum, pct_correct, final_pct_correct, attempts, avg_attempts in q_stats %}
          {% if attempts %}
        <h4>שאלה {{qnum}}</h4>
        <p>
          הצלחה (סופי): {{final_pct_correct|floatformat:-1}}%<br>
          הצלחה (כל הנסיונות): {{pct_correct|floatformat:-1}}%<br>
          מספר הגשות: {{attempts|floatformat:-1}}<br>
          ממוצע נסיונות: {{avg_attempts|floatformat:-1}}<br>
        </p>
          {% endif %}
        {% endfor %}

{% else %}
<p>אין נתונים.</p>
{% endif %}

      </div>
    </div>

<script>
  new Morris.Bar({
    element: 'grades-chart',
    data: [
      {% for grade, count in grades %}
      {grade: {{grade}}, count: {{count}}},
      {% endfor %}
    ],
    xkey: 'grade',
    ykeys: ['count'],
    labels: ['תלמידים'],
  });
</script>
{% else %}
<p>אין לך הרשאה לצפות בדף זה.</p>
{% endif %}

{% endblock chapter_content %}
