{% extends "logic/question_base.html" %}

{% block pre_question %}בחר/י תשובה{% endblock %}

{% block question_content %}

  <div>
      <form id=cq>
      {% for choice in question.choice_set.all %}
          <input name="choice" value="{{ choice.id }}" type="radio"> {{ choice }}<br>
      {% endfor %}
      </form>
  </div>

  <script>
    function is_empty() {
        return !$('input[name=choice]:checked', '#cq').val();
    }
    function get_post_data() {
        return {'choice':$('input[name=choice]:checked', '#cq').val()};
    }
    function on_success() {
        $('input[name=choice]:not(:checked)').attr('disabled','disabled');
    }
  </script>
{% endblock question_content %} 
