{% extends "logic/question_base.html" %}

{% block question_text %}{{ question.text }}{% endblock %}
{% block question_instruction %}בחר/י תשובה{% endblock %}

{% block question_content %}

<div>
  <form id=choices>
  {% for choice in question.choice_set.all %}
    <input name="choice" value="{{ choice.id }}" type="radio" {% if answer and choice.id == answer %}checked{% endif %}> {{ choice.text }}<br>
  {% endfor %}
  </form>
</div>

<script>
  function isEmpty() {
      if (!$('input[name=choice]:checked','#choices').val())
          return 'לא נבחרה תשובה';
  }
  function getPostData() {
      return {'choice':$('input[name=choice]:checked','#choices').val()};
  }
  function ansOk() {
  }
</script>
{% endblock question_content %} 
