{% extends "logic/question_base.html" %}

{% block pre_question %}בחר/י תשובה{% endblock %}

{% block question_content %}

  <div>

      <form id=cq>
      {% for choice in question.choice_set.all %}
          <input name="choice" value="{{ choice.id }}" type="radio"> {{ choice }}<br>
      {% endfor %}
        <div style="padding: 10px;margin-top: 20px;">
          <button class="btn btn-default btn-lg" id="answer" >אישור</button>
        </div>
      </form>
  </div>

<script>
$(document).ready(function(){
    $.notifyDefaults({
        allow_dismiss: false,
        offset: 100,
        placement: {from: "bottom", align: "center"},
        animate: {enter: "animated fadeIn", exit: "animated fadeOut"},
        delay: 2000,
    });
    $("#answer").click(function(){
        if (!$('input[name=choice]:checked', '#cq').val()) {
            $.notify({
                icon: "glyphicon glyphicon-pencil",
                message: "<strong>לא נבחרה תשובה</strong>"
            },{
                type: "warning",
                delay: 1000,
            });
            return false
        }
        $("#answer").html("בודק...");
        $.post("{% url 'logic:question' chapter.number question.number %}",
        {
            'choice':$('input[name=choice]:checked', '#cq').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        function(data, status){
            // TODO: split to success and error case: see that django tab i have open
            if (data['correct']) {
                $.notify({
                    icon: "glyphicon glyphicon-ok",
                    message: "<strong>תשובה נכונה</strong>"
                },{
                    type: "success",
                });
                $("#answer").html("המשך");
                $("#answer").attr("onclick", "alert('hi')");
                $("#answer").attr("class", "btn btn-primary btn-lg");
            } else {
                $.notify({
                    icon: "glyphicon glyphicon-remove",
                    message: "<strong>תשובה שגויה</strong>"
                },{
                    type: "danger",
                });
                $("#answer").html("אישור");
            }
        })
        .fail(function(response){
            if (response.responseText) {
                $.notifyClose();
                $.notify({
                    icon: "glyphicon glyphicon-wrench",
                    message: "<strong>נראה שיש בעיה בשרת...</strong> \
                             <br>הבעיה נרשמה והיא תטופל בהקדם. \
                             <br>תודה על הסבלנות. \
                             <br>בינתיים, הנה לב ממני: <span class='glyphicon glyphicon-heart'></span>"
                },{
                    type: "info",
                    allow_dismiss: true,
                    newest_on_top: true,
                    delay: 15000,
                });
                $("#answer").html("אישור");
            } else {
                $.notify({
                    icon: "glyphicon glyphicon-flash",
                    message: "<strong>בעיה בהתחברות לשרת</strong> אנא בדקו את החיבור לאינטרנט"
                },{
                    type: "warning",
                });
                $("#answer").html("אישור");
            }
        });
    });
});
</script>
{% endblock question_content %} 

<!-- TODO: visual spinner while loading: http://ux.stackexchange.com/questions/57599/when-should-i-use-ajax-to-submit-forms-vs-regular-page-submit -->
