{% extends "logic/question_base.html" %}
{% load staticfiles %}

{% block question_text %}נתון הטיעון:<p class="text-center formal formal-dsp">{{question.display}}</p>{% endblock %}
{% block question_instruction %}הוכחה בדדוקציה{% endblock %}
{% block hint %}
יש להגיע למסקנה באמצעות הפעלת כללי דדוקציה. שימו לב כי המסקנה חייבת להופיע בשורה האחרונה.
{% endblock hint %}
{% block hint_link %}הסבר נוסף{% endblock %}
{% block hint_anchor %}deduction{% endblock %}


{% block question_content %}

<div dir="ltr">
  <table id="deduction" class="" style="font-size: 110%;">
    <tbody>
      <tr></tr>
    </tbody>
  </table>
  <div class="page-header" style="margin-top: 5px; margin-bottom: 10px;">
  </div>
  <div class="noselect">
    <button class="btn btn-default dd-btn" id="neg-e">E ~</button>
    <button class="btn btn-default dd-btn" id="con-e">E ·</button>
    <button class="btn btn-default dd-btn" id="dis-e">E ∨</button>
    <button class="btn btn-default dd-btn" id="imp-e">E ⊃</button>
    <button class="btn btn-default dd-btn" id="eqv-e">E ≡</button>
    {% if is_predicate %}
    <button class="btn btn-default dd-btn" id="all-e">E ∀</button>
    <button class="btn btn-default dd-btn" id="exs-e">E ∃</button>
    {% endif %}
  </div>
  <div class="noselect">
    <button class="btn btn-default dd-btn" id="neg-i">I ~</button>
    <button class="btn btn-default dd-btn" id="con-i">I ·</button>
    <button class="btn btn-default dd-btn" id="dis-i">I ∨</button>
    <button class="btn btn-default dd-btn" id="imp-i">I ⊃</button>
    <button class="btn btn-default dd-btn" id="eqv-i">I ≡</button>
    {% if is_predicate %}
    <button class="btn btn-default dd-btn" id="all-i">I ∀</button>
    <button class="btn btn-default dd-btn" id="exs-i">I ∃</button>
    {% endif %}
  </div>
  <div class="noselect">
    <button class="btn btn-default dd-btn" id="hyp">hyp</button>
    {% if is_predicate %}
    <button class="btn btn-default dd-btn" id="arb">arb</button>
    {% endif %}
    <button class="btn btn-default dd-btn" id="rep">rep</button>
    <button class="btn btn-default dd-btn" id="rem"><span class="glyphicon glyphicon-trash trash"></span></button>
  </div>
  <div class="noselect text-center" id="extra" style="display: none; margin-top: 15px;">
    <div>
      <label for="inp" id="ftxtHint" class="text-muted small" style="horizontal-align: right;"></label>
    </div>
    <div id="inp">
      <button class="btn btn-default" id="txtCnl"><span class="glyphicon glyphicon-remove"></span></button>
      <button class="btn btn-primary" id="txtOk"><span class="glyphicon glyphicon-ok"></span></button>
      <input type="text" id="ftxt" style="padding-left: 3px;" size="32" maxlength="30" autocorrect="off" autocapitalize="none" autocomplete="off" spellcheck="false">
      <label for="ftxt" id="ftxtLbl" style="margin-left: 8px;"></label>
    </div>
    <div id="extbtns">
      <input type="button" class="btn sym-btn" id="neg" value="~"/>
      <input type="button" class="btn sym-btn" id="con" value="·"/>
      <input type="button" class="btn sym-btn" id="dis" value="∨"/>
      <input type="button" class="btn sym-btn" id="imp" value="⊃"/>
      <input type="button" class="btn sym-btn" id="eqv" value="≡"/>
      {% if is_predicate %}
      <input type="button" class="btn sym-btn" id="all" value="∀"/>
      <input type="button" class="btn sym-btn" id="exs" value="∃"/>
      {% endif %}
    </div>
  </div>
</div>
<script src="{% static 'logic/js/formula.js'%}"></script>
<script src="{% static 'logic/js/deduction.js'%}"></script>
<script>
{% if answer %}
  var dd = new Deduction({{answer|safe}});
  for (var i = 1; i < dd.formulas.length; i++) {
      addRow(dd.formulas[i].lit, dd.symbols[i], i);
  }
{% else %}
  {% for premise in premises %}
  dd.push(formalize('{{premise.literal}}', {% if is_predicate %}'PredicateFormula'{% else %}'Formula'{% endif %}), 'prem');
  addRow('{{premise.literal}}', 'prem', {{forloop.counter}});
  {% endfor %}
{% endif %}
  function isEmpty() {
      if (dd.nesting() > 0)
          return 'לא ניתן לסיים דדוקציה עם תת הוכחה פתוחה';
      if (dd.idx() <= {{ premises|length }})
          return 'יש לעשות לפחות צעד אחד';
  }
  function getPostData() {
      return {
          'conclusion': dd.get(dd.idx()).lit,
          'obj': JSON.stringify(dd)
      };
  }
  function ansOk() {
  }
</script>
{% endblock question_content %} 
