{% extends "logic/question_base.html" %}
{% load staticfiles %}

{% block question_text %}נתון הטיעון:<p class="text-center formal" style="font-size: 160%; margin-top: -30px;color: rgb(24,24,24); font-style: normal;" dir="ltr">{{question.formula}}</p>{% endblock %}
{% block question_instruction %}הוכחה בדדוקציה טבעית{% endblock %}

{% block question_content %}

  <div dir="ltr">
    <table id="deduction" class="">
      <tbody>
        {% for premise in premises %}
        <tr>
          <td class="dd-num"><input type="checkbox" id="cb{{forloop.counter}}" name="{{forloop.counter}}">{{forloop.counter}}. </input></td>
          <td id="f{{forloop.counter}}">{{premise}}</td>
          <td class="dd-just">prem</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="page-header" style="margin-top: 5px; margin-bottom: 10px;">
    </div>
    <div>
      <button class="btn btn-default dd-btn" id="imp-e">E ⊃</button>
      <button class="btn btn-default dd-btn" id="con-e">E ·</button>
      <button class="btn btn-default dd-btn" id="neg-e">E ~</button>
    </div>
    <div>
      <button class="btn btn-default dd-btn" id="con-i">I ·</button>
      <button class="btn btn-default dd-btn" id="dis-i">I ∨</button>
    </div>
    <div id="extra">
      <input type="text" id="extxt" class="" size="28" maxlength="30" autofocus>
      <label for="extxt" style="margin-left: 10px;">נוסחה</label>
    </div>
    <div><p id="errmsg" style="color: crimson; font-size: 95%; opacity: 0.9;"></p></div>
  </div>

  <script>
    $(document).ready(function() {
        hideText();
        $("#imp-e").click(function() {
            applyRule(impE, 2, symbolImpE);
        });
        $("#con-e").click(function() {
            applyRule(conE, 1, symbolConE);
        });
        $("#neg-e").click(function() {
            applyRule(negE, 1, symbolNegE);
        });
        $("#con-i").click(function() {
            applyRule(conI, 2, symbolConI);
        });
        $("#dis-i").click(function() {
            me = $(this);
            if (me.text() === "OK") {
                if (applyRule(disI, 1, symbolDisI, true)) {
                    hideText(me);
                }
            } else {
                hideText(me);
                if (!validateSelection(1)) {
                    return;
                }
                showText(me);
            }
        });
    });
    function is_empty() {
        if (!$('input[name=choice]:checked', '#choices').val())
            return 'לא נבחרה תשובה';
    }
    function get_post_data() {
        return {'choice':$('input[name=choice]:checked', '#choices').val()};
    }
    function on_success() {
        $('input[name=choice]:not(:checked)').attr('disabled','disabled');
    }
    function notify_incorrect(data){return true;}
    function on_response(data){}
  </script>
  <script src="{% static 'logic/js/deduction.js'%}"></script>
{% endblock question_content %} 
