{% extends "logic/question_base.html" %}
{% load staticfiles %}

{% block question_text %}{{ question.text }}{% endblock %}
{% block question_instruction %}הצרנה{% endblock %}

{% block question_content %}
<div class="noselect">
  <input type="text" id="ftxt" dir="ltr" style="margin-bottom: 10px; font-size: 95%; padding-left: 4px; max-width: 100%;" size="50" maxlength="50" autocorrect="off" autocapitalize="none" value="{{answer}}">
  <div>
    <input type="button" class="btn sym-btn" id="neg" value="~"/>
    <input type="button" class="btn sym-btn" id="con" value="·"/>
    <input type="button" class="btn sym-btn" id="dis" value="∨"/>
    <input type="button" class="btn sym-btn" id="imp" value="⊃"/>
    <input type="button" class="btn sym-btn" id="eqv" value="≡"/>
  </div>
</div>

<script src="{% static 'logic/js/formula.js'%}"></script>
<script>
  function isEmpty() {
      var f = $("#ftxt").val();
      if (!f) return 'יש להזין תשובה';
      try {
          new Formula(f);
      } catch (e) {
          return e.message;
      }
  }
  function getPostData() {
      return {'formulation':$('#ftxt').val()};
  }
</script>
{% endblock question_content %} 
