{% extends "logic/question_base.html" %}
{% load staticfiles %}

{% block question_text %}{{ question.text }}{% endblock %}
{% block question_instruction %}הצרנה{% endblock %}

{% block question_content %}
<div class="noselect">
  <input type="text" id="ftxt" class="txtIn" style="margin-bottom: 10px; font-size: 95%; max-width: 100%;" size="50" maxlength="50" autofocus autocorrect="off" autocapitalize="none" value="{{answer}}">
  <div>
    <input type="button" class="btn sym-btn" id="neg" value="~"/>
    <input type="button" class="btn sym-btn" id="con" value="·"/>
    <input type="button" class="btn sym-btn" id="dis" value="∨"/>
    <input type="button" class="btn sym-btn" id="imp" value="⊃"/>
    <input type="button" class="btn sym-btn" id="eqv" value="≡"/>
    {% if 'Predicate' in type %}
    <input type="button" class="btn sym-btn" id="all" value="∀"/>
    <input type="button" class="btn sym-btn" id="exs" value="∃"/>
    {% endif %}
    {% if 'Argument' in type %}
    <input type="button" class="btn sym-btn" id="thf" value="∴"/>
    {% endif %}
  </div>
</div>
<script src="{% static 'logic/js/formula.js'%}"></script>
<script>
  function isEmpty() {
      var f = $("#ftxt").val();
      if (!f) return 'יש להזין תשובה';
      try {
          formalize(f, '{{type}}');
      } catch (e) {
          return e.message;
      }
  }
  function getPostData() {
      return {'formulation':$('#ftxt').val()};
  }
</script>
{% endblock question_content %} 
