{% extends "logic/basic_base.html" %}

{% block title %}עזרה{% endblock %}

{% block body_content %}

  <div class="container">
    <div class="page-header">
    <h3><small></small></h3>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
          איך יודעים מה מספר הקבוצה שלכם? מסתכלים במערכת השעות או ברשימת הקורסים על הקבוצה אליה אתם רשומים.
          מספר הקבוצה הוא <b>שתי הספרות הראשונות מימין</b>. למשל, מספר הקבוצה הרשומה להלן הוא 02: <br>
        </p>
        <p>
          ברשימת הקורסים
          <img style="display: block; margin: 0 auto;" src='/static/logic/images/grp1.png'><br>
          במערכת השעות
          <img style="display: block; margin: 0 auto;" src='/static/logic/images/grp2.png'><br>
        </p>
      </div>
    </div>
  </div>
{% endblock body_content %}
