{% extends "logic/base.html" %}

{% block title %}רשימת פרקים{% endblock %}

{% block content %}
{% if chapter_list %}
  <div class="container">
    <div class="page-header">
    </div>

    <div class="list-group">
    {% for chapter in chapter_list %}
        {% if chapter.num_questions > 0 %}
        <a class="list-group-item text-center" href="{% url 'logic:chapter' chapter.number %}">
        <span class="pull-right"><h4 class="text-muted">{{ chapter.number }}</h4></span>
        <h4>{{ chapter.title }}</h4>
        </a>
        {% endif %}
    {% endfor %}
    </div>
    <a class="text-muted" href="{% url 'logic:stats' %}" target="_blank">
      <span class="glyphicon glyphicon-stats"></span> סטטיסטיקה
    </a>
  </div>
{% else %}
    <p>No chapters are available.</p>
{% endif %}
{% endblock content %} 
