{% extends "logic/base.html" %}

{% block title %}רשימת פרקים{% endblock %}

{% block content %}
{% if chapter_list %}
  <div class="container">
    <div class="page-header">
    </div>

    <div class="list-group">
    {% for chapter in chapter_list %}
        {% if chapter.is_first_part and chapter.num_questions > 0 %}
          {% if chapter.has_parts %}
        <a class="list-group-item text-center" href="{% url 'logic:chapter-parts' chapter.chnum %}">
          {% else %}
        <a class="list-group-item text-center" href="{% url 'logic:chapter' chapter.chnum %}">
          {% endif %}
        <span class="pull-right"><h4 class="text-muted">{{ chapter.chapter_display }}</h4></span>
        <h4>{% if chapter.has_parts and chapter.gen_title %}{{chapter.gen_title}}{% else %}{{chapter.title}}{% endif %}</h4>
        </a>
        {% endif %}
    {% endfor %}
    </div>
  </div>
{% else %}
    <p>No chapters are available.</p>
{% endif %}
{% endblock content %} 
