{% extends "logic/question_base.html" %}
{% load index %}

{% block question_text %}{% if question.is_formula %}נתונה הנוסחה:{% elif question.is_set %}נתונה הקבוצה:{% else %}נתון הטיעון:{% endif %}<p class="text-center formal formal-dsp">{{question.display}}</p>
<p>יש להראות פשר נגדי.</p>
{% endblock %}
{% block question_instruction %}פשר{% endblock %}

{% block question_content %}

<div>
  <p class="small text-muted">יש להזין ערכים מופרדים בפסיק, ערך בודד, או להשאיר את השדה ריק עבור קבוצה ריקה (<a href="{% url 'logic:topic-help' 1 %}" target="_blank">מידע נוסף</a>).</p>
</div>
<table class="table table-hover">
    <tr>
      <td style="width: 20%;">תחום דיון</td>
      <td>
        <input type="text" id="inp-d" class="txtIn" size="50" maxlength="50" autocorrect="off" autocapitalize="none" value="{% if answer %}{{answer|get_item:'domain'}}{% endif %}">
      </td>
    </tr>
  {% for predicate in predicates %}
    <tr>
      <td style="width: 20%;">פרדיקט {{predicate}}</td>
      <td>
        <input type="text" id="inp-p-{{forloop.counter}}" class="txtIn" size="50" maxlength="50" autocorrect="off" autocapitalize="none" value="{% if answer %}{{answer|get_item:predicate}}{% endif %}">
      </td>
    </tr>
  {% endfor %}
  {% for constant in constants %}
    <tr>
      <td style="width: 20%;">קבוע {{constant}}</td>
      <td>
      <input type="text" id="inp-c-{{forloop.counter}}" class="txtIn" size="10" maxlength="10" autocorrect="off" autocapitalize="none" value="{% if answer %}{{answer|get_item:constant}}{% endif %}">
      </td>
    </tr>
  {% endfor %}
</table>

<script>
  function isEmpty() {
      try {
          validate();
      } catch (e) {
          return e;
      }
  }
  function validate() {
      var domain = $.trim($('#inp-d').val());
      if (domain.indexOf('(') > -1 || domain.indexOf(')') > -1) {
          throw 'ערך לא חוקי בתחום דיון';
      }
      if (domain.length == 0) {
          throw 'תחום דיום לא יכול להיות ריק';
      }
      _validate(domain);
      domain = domain.split(',');
      {% for predicate in predicates %}
      var prd = $.trim($('#inp-p-{{forloop.counter}}').val());
      _validate(prd);
      prd = prd.replace(/[()]+/g, '').split(',');
      for (var i = 0; i < prd.length; i++) {
          _validateIn(prd[i], domain);
      }
      {% endfor %}
      {% for constant in constants %}
      var cons = $.trim($('#inp-c-{{forloop.counter}}').val());
      _validate(cons);
      if (!cons) {
          throw 'קבועים לא יכולים להיות ריקים'
      }
      if (cons.indexOf(',') > -1) {
          throw 'קבועים חייבים להכיל ערך בודד'
      }
      _validateIn(cons, domain);
      {% endfor %}
  }
  function _validate(x) {
      if (/[^ ()a-zA-Z0-9, ]/.test(x) || x.indexOf(')(') > -1 || x.indexOf('()') > -1 || x.indexOf('((') > -1 || x.indexOf('))') > -1 ||
         (x.match(/\(/g) || []).length != (x.match(/\)/g) || []).length) {
          throw 'ערך לא חוקי: ' + x;
      }
  }
  function _validateIn(x, domain) {
      if (x && domain.indexOf(x) < 0) {
          throw 'הערך ' + x + ' לא נמצא בתחום הדיון';
      }
  }
  function getPostData() {
      return {
        'domain': $.trim($('#inp-d').val()),
        {% for predicate in predicates %}
        '{{predicate}}': $.trim($('#inp-p-{{forloop.counter}}').val()),
        {% endfor %}
        {% for constant in constants %}
        '{{constant}}': $.trim($('#inp-c-{{forloop.counter}}').val()),
        {% endfor %}
      };
  }
</script>
{% endblock question_content %} 
