{% extends "logic/question_base.html" %}

{% block question_text %}{{ question.text }}{% endblock %}
{% block question_instruction %}תשובה{% endblock %}

{% block question_content %}

<script>
$(document).ready(function() {
  {% if graded %}
    $('#answer').remove();
    $('#filelbl').remove();
    $('#unfile').remove();
  {% endif %}
});
window.resetE = function(e) {
    post('{% url 'logic:question' question.chapter.chnum question.number %}', '{{ csrf_token }}', {'remove-file':''},
        function () {
            resetSuccess(e);
        }
    );
    $('#unfile').hide();
    $('#filename').text($('#filename').text() + ' [מסיר...]');
};
function resetSuccess(e) {
    e.wrap('<form>').closest('form').get(0).reset();
    e.unwrap();
    _updateFile(e.get(0), true);
}
</script>

<style>
  .file-label {
       font-size: 85%;
       color: #777;
   }
</style>
<div>
  <form id="ansform" enctype="multipart/form-data">{% csrf_token %}
    <textarea id="anstxt" name="anstxt" style="min-width: 100%; resize: none; padding: 4px;" rows=10 maxlength=1000 autofocus {% if graded %}disabled{% endif %}>{{answer}}</textarea>
    {% if question.has_file %}
    <div>
      <label class="btn btn-default btn-lg" id="filelbl">
        <span class="glyphicon glyphicon-folder-open"></span>
        העלאת קובץ <input type="file" name="file" id="file" style="display: none;">
      </label>
    </div>
    <div style="margin-bottom: -10px;">
      <label id="filename" class="file-label">
        {% if filename %}קובץ: <a href="{{open_ans.upload.url}}">{{filename}}</a>
        {% elif not graded %} לא נבחר קובץ
        {% endif %}
      </label>
      <button id="unfile" type="button" class="btn btn-default btn-sm" onclick="resetE($('#file'));" style="display: {% if filename %}inline{%else %}none{% endif %};"><span class="glyphicon glyphicon-remove"></span></button>
      <input id="file-upd" name="file-upd" type="hidden" value="false">
    </div>
    <div id="file-sts-div" style="display: none; margin-bottom: -15px;">
      <label id="upload-status" class="file-label"></label>
      <label id="upload-pct" class="file-label"></label>
    </div>
    {% endif %}
  </form>
</div>

{% if graded and open_ans %}
<div>
<table class="table table-condensed" style="margin-bottom: -10px;">
 <tbody>
  <tr>
    <td style="width: 10%;"><b>ניקוד:</b></td>
    <td>{{open_ans.grade|floatformat:-1}} מתוך 1</td>
  </tr>
  {% if open_ans.comment %}
  <tr>
    <td style="width: 10%;"><b>הערה:</b></td>
    <td class="comment">{{open_ans.comment}}</td>
  </tr>
  {% endif %}
 </tbody>
</table>
</div>
{% endif %}

<script>
  function isEmpty() {
      if (!$.trim($('#anstxt').val()) && !$('#file').val()) {
          return 'יש להזין תשובה{% if question.has_file %} או להעלות קובץ{% endif %}';
      }
  }
  function getPostData() {
      $('#upload-status').text('מצב העלאה:');
      return new FormData($('#ansform')[0]);
  }
  function _validateFile(file) {
      if (!file) return true;
      var ext = file.name.split('.').pop().toLowerCase();
      if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'doc', 'docx', 'pdf']) < 0) {
          errmsg('ניתן להעלות רק מסמכים או תמונות');
          return false;
      } 
      if (file.size > {{maxfilesize}}) {
          errmsg('לא ניתן להעלות קובץ גדול מ-' + humansize({{maxfilesize}}));
          return false;
      }
      return true;
  }
  function _updateFile(e, reset) {
      var file = e.files[0];
      if (!_validateFile(file)) {
          resetSuccess($('#file'));
          $('#filename').text('לא נבחר קובץ');
          return;
      }
      if (file) {
          var label = 'קובץ: ' + file.name;
          var sts = '* לחצו אישור להעלאת הקובץ';
          $('#unfile').show();
          $('#file-sts-div').show();
      } else if (reset){
          var label = 'קובץ הוסר בהצלחה';
          $('#unfile').hide();
          $('#file-sts-div').hide();
          $('#upload-pct').text('');
      } else {
          // user canceled browse
          return;
      }
      $('#filename').text(label);
      $('#upload-status').text(sts);
      $('#file-upd').val('true');
  }
  function ansOk() {
      if (($('#file').get(0) && $('#file').get(0).files[0])) {
          $('#upload-pct').text('קובץ הועלה בהצלחה');
      }
  }
  $(document).on('change', ':file', function() {
      _updateFile(this);
  });
  function humansize(bytes) {
      var tmp = bytes;
      var units = ['', 'k', 'm', 'g'];
      var i = 0;
      while (tmp > 1024 && i < units.length - 1) {
          tmp /= 1024;
          i++;
      }
      return parseFloat(tmp.toFixed(1)) + units[i] + 'b';
  }
</script>
{% endblock question_content %} 
