{% extends "logic/chapter_base.html" %}

{% block title %}שאלה {{question.number }} פרק {{ chapter.number }}{% endblock %}
{% block topic_header %}שאלה {{ question.number }}{% endblock %}

{% block chapter_content %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="white-space: pre-wrap; font-size: 110%;">{{ question.text }}</p>
        <p class="noselect"><b>{% block pre_question %}הזמן תשובה{% endblock %}</b></p>

        {% block question_content %}
        {% endblock %}
     </div>
    </div>
{% endblock chapter_content %}
