{% extends "logic/chapter_base.html" %}

{% block title %}שאלה {{question.number }} פרק {{ chapter.number }}{% endblock %}
{% block topic_header %}שאלה {{ question.number }}{% endblock %}

{% block chapter_content %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="white-space: pre-wrap; font-size: 110%;">{{ question.text }}</p>
        <p class="noselect"><b>{% block pre_question %}הזמן תשובה{% endblock %}</b></p>

        {% block question_content %}
        {% endblock %}
        <div style="padding: 5px;margin-top: 20px;">
          <button class="btn btn-default btn-lg" id="answer">אישור</button>
        </div>
     </div>
  </div>

  <script>
    function register_event() {
        $('#answer').one('click', function() {
            post_answer('{% url 'logic:question' chapter.number question.number %}', get_post_data(), '{{ csrf_token }}');
        });
    }
    $(document).ready(register_event);
  </script>

{% endblock chapter_content %}
