{% extends "logic/chapter_base.html" %}
{% block title %}שאלה {{question.number }} פרק {{ chapter.number }}{% endblock %}
{% block topic_header %}שאלה {{ question.number }}{% endblock %}

{% block chapter_content %}
    <div class="panel panel-default">
      <div class="panel-body">
        <p style="white-space: pre-wrap; font-size: 110%;">{% block question_text %}{% endblock %}</p>
        <div class="page-header" style="margin-top: -18px;"></div>
        <p class="noselect"><b>{% block question_instruction %}{% endblock %}</b></p>
        {% block question_content %}
        {% endblock %}
        <div style="padding: 5px;margin-top: 20px;">
          <button class="btn btn-default btn-lg" id="answer">אישור</button>
          <button class="btn btn-default answered btn-lg" style="visibility: hidden;" id="next">המשך</button>
          <button class="btn btn-primary btn-lg" style="visibility: hidden;" id="sum" onclick="location.href='{% url 'logic:chapter-summary' chapter.number %}'">סיום פרק</button>
        </div>
     </div>
  </div>
  <script>
    function reg() {
        $('#answer').one('click', function() {
            postAns('{% url 'logic:question' chapter.number question.number %}', get_post_data(), '{{ csrf_token }}');
        });
    }
    $(document).ready(reg);
  </script>

  <div class="page-header"></div>
  <div class="panel panel-default">
    <div class="panel-body noselect">
{% for qnum, correct in chap_questions.iteritems %}
  {% if question and qnum == question.number %}
      <button class="btn btn-primary">{{ qnum }}</button>
  {% else %}
      <a href='{% url 'logic:question' chapter.number qnum %}' class={% if correct == None %}"btn btn-default"{% else %}"btn btn-default answered"{% endif %}>{{ qnum }}</a>
  {% endif %}
{% endfor %}
    </div>
  </div>
{% endblock chapter_content %}
