{% extends "logic/question_base.html" %}

{% block question_text %}{% if question.is_formula %}נתונה הנוסחה:{% elif question.is_set %}נתונה הקבוצה:{% else %}נתון הטיעון:{% endif %}<p class="text-center formal" style="font-size: 160%; margin-top: -30px;color: rgb(20,20,20); font-style: normal;" dir="ltr">{{question.display}}</p>{% endblock %}
{% block question_instruction %}טבלת אמת{% endblock %}

{% block question_content %}

  <div>
    <table class="table table-bordered table-condensed table-hover noselect formal" dir="ltr">
      <thead>
        <tr style="font-size: 110%;">
        {% for var in truth_table.variables %}
          <th class="text-center">{{var}}</th>
        {% endfor %}
        {% for formula in formulas %}
          <th class="text-center" ondblclick="unselectall({{forloop.counter}})"><span class="glyphicon glyphicon-warning-sign pull-left tt-notice"></span>{% if formula == formulas.conclusion %}∴ {% endif %}{{formula}}<span id="formula-head{{forloop.counter}}" class="glyphicon glyphicon-warning-sign pull-right tt-notice"></span></th>
        {% endfor %}
        </tr>
      </thead>
      <tbody class="mono">
      {% for row in truth_table.values %}
        <tr class="text-center">
        {% for value in row %}
          <td>{{value|yesno:"T,F"}}</td>
        {% endfor %}
        {% for formula in formulas %} 
          <td>
            <div class="btn-group" role="group" style="font-size: 130%;">
              <label class="label label-default" style="opacity: 0.5;" id='t{{forloop.parentloop.counter}}{{forloop.counter}}' onclick="select('t', '{{forloop.parentloop.counter}}{{forloop.counter}}')">T</label>
              <label class="label" style="visibility: hidden; color: black;" id='ans{{forloop.parentloop.counter}}{{forloop.counter}}' onclick="unselect('{{forloop.parentloop.counter}}{{forloop.counter}}', {{forloop.counter}})">?</label>
              <label class="label label-default" style="opacity: 0.5;" id='f{{forloop.parentloop.counter}}{{forloop.counter}}' onclick="select('f', '{{forloop.parentloop.counter}}{{forloop.counter}}')">F</label>
            </div>
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <script>
    function select(type, i) {
        clicked = '#'+type+i;
        ans = '#ans'+i;
        if (type == 't') {
            other = '#f'+i;
        } else {
            other = '#t'+i;
        }
        $(clicked).css('visibility', 'hidden');
        $(other).css('visibility', 'hidden');
        $(ans).css('visibility', 'visible');
        $(ans).text($(clicked).text());
    }
    function unselect(i, j) {
        $('#t'+i).css('visibility', 'visible');
        $('#f'+i).css('visibility', 'visible');
        $('#ans'+i).css('visibility', 'hidden');
        $('#formula-head'+j).css('visibility', 'hidden');
    }
    function unselectall(i) {
        {% for row in truth_table.values %}
        unselect('{{forloop.counter}}'+i, i);
        {% endfor %}
    }
    </script>
  </div>

  <div>
    <p style="font-weight: bold;">{% if question.is_formula %}הנוסחה היא...{% elif question.is_set %}הקבוצה...{% else %}הטיעון...{% endif %}</p>
    <form id=options>
    {% for option in options %}
        <input name="option" value="{{option.num}}" type="radio"> {{option.desc}}<br>
    {% endfor %}
    </form>
  </div>

  <script>
    function is_empty() {
        if (!$('input[name=option]:checked', '#options').val())
            return 'לא נבחרה תשובה';
      {% for formula in formulas %} 
        {% for row in truth_table.values %}
        if ($('label[id=ans{{forloop.counter}}{{forloop.parentloop.counter}}]').css('visibility') == 'hidden')
            return 'הטבלה אינה מלאה';
        {% endfor %}
      {% endfor %}
    }
    function get_post_data() {
        // clear warnings before posting
        {% for formula in formulas %}
        $('#formula-head{{forloop.counter}}').css('visibility', 'hidden');
        {% endfor %}
        return {
            'option':$('input[name=option]:checked', '#options').val(),
            'values':[
              {% for formula in formulas %} 
                [
                {% for row in truth_table.values %}
                  $('#ans{{forloop.counter}}{{forloop.parentloop.counter}}').text(),
                {% endfor %}
                ],
              {% endfor %}
            ]
        };
    }
    function on_success() {
        $('input[name=option]:not(:checked)').attr('disabled','disabled');
      {% for formula in formulas %} 
        {% for row in truth_table.values %}
        $('label[id=ans{{forloop.counter}}{{forloop.parentloop.counter}}]').attr('onclick','');
        {% endfor %}
      {% endfor %}
    }
    function notify_incorrect(data){
        corrects = data['tt_corrects'];
        for (i = 0; i < corrects.length; i++) {
            if (!corrects[i]) {
                // do not notify if the table is incorrect
                return false;
            }
        }
        return true;
    }
    function on_response(data){
        corrects = data['tt_corrects'];
        console.log('response ' + corrects)
        for (i = 0; i < corrects.length; i++) {
            label = '#formula-head'+(i+1)
            if (corrects[i]) {
                $(label).removeClass('glyphicon-warning-sign').addClass('glyphicon-ok');
                $(label).removeClass('tt-notice').addClass('tt-notice-correct');
            } else {
                $(label).removeClass('glyphicon-ok').addClass('glyphicon-warning-sign');
                $(label).removeClass('tt-notice-correct').addClass('tt-notice');
            }
            $(label).css('visibility', 'visible');
        }
    }
  </script>

{% endblock question_content %} 
