{% extends "logic/question_base.html" %}
{% load index %}

{% block question_text %}{% if question.is_formula %}נתונה הנוסחה:{% elif question.is_set %}נתונה הקבוצה:{% else %}נתון הטיעון:{% endif %}<p class="text-center formal formal-dsp">{{question.display}}</p>
<p>יש למלא את הטבלה ולבחור את האפשרות הנכונה.</p>
{% endblock %}
{% block question_instruction %}טבלת אמת{% endblock %}
{% block hint %}
יש למלא את הטבלה על ידי לחיצה על הערכים הנכונים. ניתן לנקות עמודה באמצעות הכפתורים מטה.
{% endblock hint %}
{% block hint_link %}הסבר נוסף{% endblock %}

{% block question_content %}

  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover noselect formal" style="table-layout: fixed !important; margin-bottom: 0px;">
      <thead>
        <tr style="font-size: 110%;">
        {% for var in truth_table.variables %}
          <th class="text-center" style="width: 6%;">{{var}}</th>
        {% endfor %}
        {% for formula in formulas %}
          <th class="text-center">
            {% if formula == formulas.conclusion %}∴ {% endif %}{{formula.literal}}
          </th>
        {% endfor %}
        </tr>
      </thead>
      <tbody class="mono">
      {% for row in truth_table.values %}
        <tr class="text-center">
        {% for value in row %}
          <td>{{value|yesno:"T,F"}}</td>
        {% endfor %}
        {% for formula in formulas %} 
          <td>
            <div class="btn-group" role="group" style="font-size: 130%; display: inline;">
              <label class="label label-default" style="opacity: 0.7; margin: -1px; display: {% if answer %}none{% else %}inline{% endif %};" id='t{{forloop.parentloop.counter}}{{forloop.counter}}' onclick="select('t', '{{forloop.parentloop.counter}}{{forloop.counter}}')">T</label>
              <label class="label" style="display: {% if answer %}inline{% else %}none{% endif %}; color: #333;" id='ans{{forloop.parentloop.counter}}{{forloop.counter}}' onclick="unselect('{{forloop.parentloop.counter}}{{forloop.counter}}')">{% if answer %}{{answer|index:forloop.counter0|index:forloop.parentloop.counter0}}{% endif %}</label>
              <label class="label label-default" style="opacity: 0.7; margin: -1px; display: {% if answer %}none{% else %}inline{% endif %};" id='f{{forloop.parentloop.counter}}{{forloop.counter}}' onclick="select('f', '{{forloop.parentloop.counter}}{{forloop.counter}}')">F</label>
            </div>
          </td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <table class="table table-condensed formal" style="margin-top: 0px;">
      <tr>
        {% for var in truth_table.variables %}
          <td class="text-center" style="width: 6%;"></td>
        {% endfor %}
        {% for formula in formulas %}
          <td class="text-center" style="">
            <button class="btn btn-default dd-btn" onclick="unselectall({{forloop.counter}})"><span class="glyphicon glyphicon-trash trash"></span></button>
          </td>
        {% endfor %}
      </tr>
    </table>

    <script>
    function select(type, i) {
        var clicked = '#'+type+i;
        var a = '#ans'+i;
        if (type == 't') {
            var other = '#f'+i;
        } else {
            var other = '#t'+i;
        }
        $(clicked).hide();
        $(other).hide();
        $(a).show();
        $(a).text($(clicked).text());
    }
    function unselect(i) {
        $('#t'+i).show();
        $('#f'+i).show();
        $('#ans'+i).hide();
    }
    function unselectall(i) {
        {% for row in truth_table.values %}
        unselect('{{forloop.counter}}'+i);
        {% endfor %}
    }
    </script>
  </div>

  <div class="page-header" style="margin-top: 2px; margin-bottom: 2px;">
  </div>
  <div>
    <p style="font-weight: bold;">{% if question.is_formula %}הנוסחה היא:{% elif question.is_set %}הקבוצה:{% else %}הטיעון:{% endif %}</p>
    <form id=options>
    {% for option in options %}
        <input name="option" value="{{option.num}}" type="radio" {% if answer and option.num == answer_option %}checked{% endif %}> {{option.desc}}<br>
    {% endfor %}
    </form>
  </div>

  <script>
    function isEmpty() {
        if (!$('input[name=option]:checked', '#options').val())
            return 'לא נבחרה תשובה';
      {% for formula in formulas %} 
        {% for row in truth_table.values %}
        if ($('label[id=ans{{forloop.counter}}{{forloop.parentloop.counter}}]').css('display') == 'none')
            return 'הטבלה אינה מלאה';
        {% endfor %}
      {% endfor %}
    }
    function getPostData() {
        return {
            'option':$('input[name=option]:checked', '#options').val(),
            'values':[
              {% for formula in formulas %} 
                [
                {% for row in truth_table.values %}
                  $('#ans{{forloop.counter}}{{forloop.parentloop.counter}}').text(),
                {% endfor %}
                ],
              {% endfor %}
            ]
        };
    }
  </script>

{% endblock question_content %} 
