{% extends "logic/base.html" %}

{% block title %}{{ user }}{% endblock %}

{% block content %}
<div class="container">
  <div id="topic" class="page-header noselect">
    <h3>{% firstof user.get_full_name user.get_username %} <small>סיכום</small></h3>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
    <div class="table-responsive">
    {% if chaptersubmission_list %}
      <p>
        הגשת עד כה {{chaptersubmission_list|length}} פרקים.
      </p>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th style="text-align: right;">פרק</th>
            <th style="text-align: right;">ציון</th>
            <th style="text-align: right;">זמן הגשה</th>
          </tr>
        </thead>
        <tbody>
        {% for sub in chaptersubmission_list %}
          {% if sub.is_complete %}
          <tr>
            <td>
              <a href='{% url 'logic:chapter' sub.chapter.chnum %}'>{{sub.chapter}}</a>
            </td>
            <td>{% if sub.ongoing %}-{% elif sub.is_ready %}{{sub.percent_correct}}{% else %}בבדיקה...{% endif %}</td>
            <td class="text-muted">{% if sub.ongoing %}נסיון נוסף - עוד לא הוגש{% else %}{{sub.time}}{% endif %}</td>
          <tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>עוד לא הגשת אף פרק. <a href="{% url 'logic:index' %}">קדימה לעבודה!</a></p>
    {% endif %}
    </div>
    </div>
  </div>
</div>
{% endblock content %}
