{% extends "logic/basic_base.html" %}

{% block title %}כניסה{% endblock %}

{% block body_content %}

<div class="container" style="max-width: 500px;">
  <div class="page-header">
    <h2></h2>
  </div>
  <div class="panel panel-default">
  <div class="panel-body">

    <div id="errors" class="errmsg">
      {% if form.errors and not form.non_field_errors %}
      {{form.username.errors}}
      {{form.password.errors}}
      {% endif %}
      {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
      {% endif %}
      {% if user.is_authenticated %}
      <p>כבר מחובר!</p>
      {% endif %}
    </div>

    <form class="form-signin" method="post" id="login-form" onsubmit="$('#submit').prop('disabled', true); $('#submit').text('מתחבר...');">{% csrf_token %}
      <label for="id_username">שם משתמש</label>
      <input type="text" id="id_username" value="{{username}}" name="username" maxlength="50" class="form-control txtIn" autofocus autocorrect="off" autocapitalize="none">
      <label for="id_password">סיסמה</label>
      <input type="password" id="id_password" value="{{password}}" name="password" maxlength="50" class="form-control txtIn" autocorrect="off" autocapitalize="none">
      <div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" style="margin-top: 20px; font-size: 130%;">
          התחברות
        </button>
      </div>
      <input type="hidden" name="next" value="{{next}}"/>
    </form>
  </div>
  </div>
</div>

{% if get_id_num %}
<button class="btn btn-primary btn-lg" style="display: none;" id="first-btn" data-toggle="modal" data-target="#first-time"></button>
<div class="modal fade"  data-keyboard="false" data-backdrop="static" style="vertical-align: middle;" id="first-time" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">שלום!</h3>
      </div>
      <div class="modal-body" style="font-size: 102%;">
        <p>זו כניסה ראשונה למערכת. אנא הזינו מספר ת.ז תקין בן 9 ספרות.</p>
        <p id="inp-err" class="errmsg"><p>
        <label for="id1">מספר ת.ז:</label>
        <input id="id1" type="text" class="txtIn pull-left" maxlength="10" style="width:50%; margin-left: 33%;" autocorrect="off" autocapitalize="none">
        <label for="id2">אימות:</label>
        <input id="id2" type="text" class="txtIn pull-left" maxlength="10" style="width:50%; margin-left: 33%;" autocorrect="off" autocapitalize="none">
      </div>
      <div class="modal-footer">
        <form method="post" id="register-form">{% csrf_token %}
          <input value="{{username}}" type="hidden" name="username">
          <input value="{{password}}" type="hidden" name="password">
          <input value="" type="hidden" name="id_num" id="id-inp">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">ביטול</button>
          <button type="submit" class="btn btn-primary btn-lg btn-ok" id="id-submit">אישור</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    if ($.trim($('#errors').text())) {
        console.log('errors: ' + $.trim($('#errors').text()));
    } else {
        console.log('no errors');
    }
    $('#first-btn').click();
    $("#register-form").submit(function(e) {
        $("#inp-err").empty();
        var id1 = $("#id1").val();
        var id2 = $("#id2").val();
        if (!new RegExp('^\\d{9}$').test(id1)) {
            $("#inp-err").text("מספר ת.ז לא תקין");
            e.preventDefault();
        } else if (id1 != id2) {
            $("#inp-err").text("שני השדות אינם זהים");
            e.preventDefault();
        } else {
            $("#id-inp").val(id1);
            $("#first-time").addClass('loading');
        }
    });
    $('#first-time').on('shown.bs.modal', function() {
        $('#id1').focus();
        $('#first-time').keypress(function(e) {
            if (e.which == 13) { // Enter 
                $("#id-submit").click();
            }
        });
    });
    $('#first-time').on('hidden.bs.modal', function() {
        $('#first-time').off('keypress');
    });
});
</script>
{% endif %}

<script>
$(document).ready(function() {
    $("#login-form").submit(function(e) {
        $("#errors").empty();
        if (!$.trim($("#id_username").val()) || !$.trim($("#id_password").val())) {
            $("#errors").text("נא להזין שם משתמש וסיסמה");
            e.preventDefault();
        }
    });
});
</script>
{% endblock body_content %}
