{% extends "logic/basic_base.html" %}

{% block title %}כניסה{% endblock %}

{% block body_content %}

<div class="container" style="max-width: 500px;">
  <div class="page-header"></div>
  <div class="panel panel-default">
  <div class="panel-body">

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}"Please correct the error below."{% else %}"Please correct the errors below."{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

  {% if user.is_authenticated %}
  <p>כבר מחובר!</p>
  {% endif %}
  <form class="form-signin" method="post" id="login-form">{% csrf_token %}
    <label for="id_username" class="sr-only">שם משתמש/ת</label>
    <input type="text" id="id_username" name="username" class="form-control" placeholder="שם משתמש/ת" required autofocus
     oninvalid="this.setCustomValidity('יש להזין שם משתמש/ת')">
    <label for="id_password" class="sr-only">סיסמה</label>
    <input type="password" id="id_password" name="password" class="form-control" style="margin-top: 10px;" placeholder="סיסמה" required
     oninvalid="this.setCustomValidity('יש להזין סיסמה')">
    <div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; font-size: 130%;">
        התחברות
      </button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
  <button class="btn btn-default btn-block" type="submit" style="margin-top: 20px; font-size: 95%;"
   onclick="location.href='/accounts/register/'">
    פעם ראשונה? הירשמ/י כאן
  </button>
  </div>
  </div>
</div>
{% endblock body_content %}
