{% extends "logic/basic_base.html" %}

{% block title %}כניסה{% endblock %}

{% block body_content %}

<div class="container" style="max-width: 500px;">
  <div class="page-header"><h2>כניסה</h2></div>
  <div class="panel panel-default">
  <div class="panel-body">

<div id="errors" class="errmsg">
{% if form.errors and not form.non_field_errors %}
שגיאה:
{{form.username.errors}}
{{form.password.errors}}
{% endif %}
{% if form.non_field_errors %}
שגיאה:
{% for error in form.non_field_errors %}
    {{ error }}
{% endfor %}
{% endif %}
{% if user.is_authenticated %}
<p>כבר מחובר!</p>
{% endif %}
</div>

  <form class="form-signin" method="post" id="login-form">{% csrf_token %}
    <label for="id_username" class="sr-only">שם משתמש/ת</label>
    <input type="text" id="id_username" name="username" class="form-control" placeholder="שם משתמש/ת" autofocus>
    <label for="id_password" class="sr-only">סיסמה</label>
    <input type="password" id="id_password" name="password" class="form-control" style="margin-top: 10px;" placeholder="סיסמה">
    <div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; font-size: 130%;">
        התחברות
      </button>
    </div>
    <input type="hidden" name="next" value="{{ next }}"/>
  </form>
  <button class="btn btn-default btn-block" type="submit" style="margin-top: 20px; font-size: 95%;"
   onclick="location.href='/accounts/register/'">
    פעם ראשונה? הירשמ/י כאן
  </button>
  </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $("#login-form").submit(function(e) {
        $("#errors").empty();
        if (!$("#id_username").val() || !$("#id_password").val()) {
            $("#errors").text("נא להזין שם וסיסמה");
            e.preventDefault();
        }
    });
});
</script>
{% endblock body_content %}
