{% extends "logic/basic_base.html" %}

{% block title %}רישם{% endblock %}

{% block body_content %}

<div class="container" style="max-width: 500px;">
  <div class="page-header"><h2>רישום לאתר</h1></div>
  <div class="panel panel-default">
  <div class="panel-body">

<div id="errors" class="errmsg">
{% if form.errors and not form.non_field_errors %}
שגיאה:
{{form.username.errors}}
{{form.password1.errors}}
{{form.password2.errors}}
{% endif %}
{% if form.non_field_errors %}
שגיאה:
{% for error in form.non_field_errors %}
    {{ error }}
{% endfor %}
{% endif %}
</div>

  <form method="post" id="login-form" autocomplete="off" style="color: rgb(16,16,16); font-size: 110%;">{% csrf_token %}
    <label for="id_username">שם משתמש/ת</label>
    <input autocomplete="off" value="{%if form.username.value %}{{form.username.value}}{% endif %}" type="text" id="id_username" name="username" class="form-control" autofocus style="margin-top: -10px;"/>
    <label for="id_password1" style="margin-top: 20px;">סיסמה</label>
    <input  autocomplete="off" value="{%if form.password1.value %}{{form.password1.value}}{% endif %}" type="password" id="id_password1" name="password1" class="form-control" style="margin-top: -10px;">
    <label for="id_password2" style="margin-top: 20px;">אימות סיסמה</label>
    <input  autocomplete="off" value="{%if form.password2.value %}{{form.password2.value}}{% endif %}" type="password" id="id_password2" name="password2" class="form-control" style="margin-top: -10px;">
    <div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; font-size: 130%;">
        רישום
      </button>
    </div>
  </form>
  </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $("#login-form").submit(function(e) {
        $("#errors").empty();
        if (!$("#id_username").val() || !$("#id_password1").val()) {
            $("#errors").text("נא להזין שם וסיסמה");
            e.preventDefault();
        }
        else if ($("#id_password1").val() != $("#id_password2").val()) {
            $("#errors").text("סיסמאות לא זהות");
            e.preventDefault();
        }
    });
});
</script>
{% endblock body_content %}
